@use "../variables" as v;
@use "../mixins";

.here-what-you-get {
  display: grid;
  justify-items: end;
  margin: 0 auto;
  max-width: v.$desktop + 0px;
  &__card {
    @include mixins.flex-placement-column();
  }
  &__card-block {
    @include mixins.flex-placement-column();
    color: #323232;
    margin-bottom: 40px;
  }
  &__card-img {
    padding-bottom: 27px;
  }
  &__card-wrapper-caption {
    margin-bottom: 14px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1;
    text-align: center;
  }
  &__card-wrapper-description {
    padding: 0 14px 38px 17px;
    font-family: Lato;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #848e97;
  }
  &__screenshoot {
    picture {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__title {
    margin: 0 37px 36px 33px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 32px;
    line-height: 119%;
    color: v.$main-color;
    text-align: center;
  }
}

@media (min-width: v.$mobile + 0px) {
  .here-what-you-get {
    &__card {
      display: grid;
      grid-template-columns: 111px 1fr;
      grid-column-gap: 23px;
      padding: 0 22px 0 10px;
      justify-items: center;
    }
    &__card-block {
      row-gap: 60px;
      padding-left: 30px;
    }
    &__card-img {
      padding-bottom: 0;
      display: flex;
      align-items: flex-start;
    }
    &__card-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__card-wrapper-caption {
      margin-bottom: 0;
      padding-bottom: 16px;
      line-height: 131%;
    }
    &__card-wrapper-description {
      padding: 0;
      text-align: left;
    }
    &__title {
      justify-self: center;
      font-size: 42px;
      line-height: 105px;
    }
  }
}

@media (min-width: v.$tablet + 0px) {
  .here-what-you-get-container {
    background-color: #f4f4f4;
  }
  .here-what-you-get {
    display: grid;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr;
    row-gap: 18px;
    padding: 90px 0 0 0;
    background-color: #f4f4f4;

    &__card {
      grid-column-gap: 0;
      padding: 0;
    }
    &__card-block {
      grid-column: 1;
      grid-row: 1 / span 2;
      row-gap: 16px;
      padding-left: 40px;
    }
    &__card-img {
      width: 111px;
    }
    &__card-wrapper {
    }
    &__card-wrapper-caption {
      line-height: 131%;
      margin-bottom: 0;
      padding-bottom: 16px;
    }
    &__card-wrapper-description {
    }
    &__screenshoot {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    &__title {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin: 0;
      display: inline-block;
      font-size: 48px;
      line-height: 50px;
    }
  }
}
